{% extends "baseFin.html" %}
{% block title %}Tienda de Videojuegos{% endblock %}
{% block content %}
<div class="container">
    <h3>Borrar Videojuego</h3>  
  <div class="row">
    <p>¿Estás seguro de borrar el digimon? : {{digimon.nombre}}</p>
      <form class="form-horizontal"  method="post">
        <div class="form-group">
          {{ form.csrf_token }}
          {{form.si(class="btn btn-danger") }} {{form.no(class="btn btn-primary")}}<br/><br/>
        </div>

    </form>
  </div>
</div>
{% endblock %}